/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

.main-header {
    color: white;
    min-height: 100vh;
    text-align: center;
    margin: auto;
    align-items: center;
}

.card {
    background-color: #008f8f; 
    min-width: 400px;
    min-height: 150px;
    margin: 10px; 
    border-radius: 15px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

.card-text {
    background-color: transparent;
    color: white;
}

footer a {
    color: white; /* Set color to black */
    text-decoration: none;
    margin: 0 15px; /* Increase margin for better spacing */
    font-size: 50px; /* Increase font size for larger icons */
}

footer a:hover {
    color: #008f8f; /* Change color on hover */
}
