/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-bg-default: #333;
    --color-fg-default: white;
    --color-fg-accent: #008f8f;

}

.main-header {
    color: var(--color-fg-default);
    min-height: 100vh;
    text-align: center;
    margin: auto;
    align-items: center;
}

.card {
    background-color: var(--color-fg-accent); 
    min-width: 200px;
    min-height: 150px;
    margin: 10px; 
    border-radius: 15px;
    opacity: 0;
    box-shadow : 0 5px 20px;
}

.card > * {
    background-color: transparent;
    color: var(--color-fg-default);
}

.card:hover {
    box-shadow: 0 0 5px var(--color-fg-accent);
}

footer a {
    color: var(--color-fg-default); /* Set color to black */
    text-decoration: none;
    margin: 0 15px; /* Increase margin for better spacing */
    font-size: 50px; /* Increase font size for larger icons */
}

footer a:hover {
    color: var(--color-fg-accent); /* Change color on hover */
}

.nav-text,
.nav-text:visited {
    color: var(--color-fg-default);
}

.nav-text:hover {
    color: var(--color-fg-accent);
}

.centered {
    justify-content: center;
}

.text-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

#typewriter-container {
    font-family: Consolas,monaco,monospace; 
}

#cursor {
    animation: blink 0.8s infinite;
    display: inline-block;
}
 
@keyframes blink {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}

#subtitle {
    font-size: 18pt;
    position: relative;
    animation: swoopInBottom 2s ease 4s 1 normal forwards;
    opacity: 0;
}

#navbar {
    max-width: 100vw;
    padding: 10px;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease; /* Fade-in transition */
    background-color: var(--color-bg-default);
}

#navbar:hover {
    box-shadow: 0 0 10px #4c4c4c;
}

#about {
    min-height: 50vh;
    background-color: var(--color-fg-accent); 
    color: var(--color-fg-default);
    text-align: left;
}

.section-container {
    background-color: var(--color-bg-default);
    padding: 20px;
}

footer {
    background-color: #4c4c4c;
}

#home-logo {
    max-width: 100px;
}

#img-headshot {
    max-height: 40vh; 
    max-width: 20vw;
    opacity: 0;
}

#about-text {
    opacity: 0;
}

h1 {
    font-weight: bold;
}

#popup {
    position: absolute;
    background-color: transparent;
    display: none;
    z-index: 10;
}

#popup img {
    height: 200px;
    border-radius: 30px;
    transform: translateX(-50%);
}

.hover-trigger:hover {
    color: var(--color-fg-accent); /* Change color on hover */
}

.burnable {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.burn-away {
    animation: smoke 2s linear forwards;
    transform-origin: bottom;  
}

@keyframes smoke {
    0% {
        color: orangered;
        filter: blur(0);
        transform: translateX(0) translateY(0) rotate(0deg) scale(1);
        pointer-events: none;
    }
    50% {
        color: yellow;
    }
    100% {
        color: gray;
        filter: blur(40px);
        transform: /* transformation uses randomised variables which are applied to the element in javascript */
            translateX(calc(200px * var(--translateX-ratio)))
            translateY(calc(-200px + (-100px * var(--translateY-ratio))))
            rotate(calc(60deg + (300deg * var(--rotate-ratio))))
            scale(calc(2 + (3 * var(--scale-ratio))));
    }
}

.glowing:hover {
    color: yellow;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffd700, 0 0 40px #ffd700, 0 0 50px #ffd700, 0 0 60px #ffd700, 0 0 70px #ffd700;
    }
    100% {
        text-shadow: 0 0 20px #fff, 0 0 30px #ffec8b, 0 0 40px #ffec8b, 0 0 50px #ffec8b, 0 0 60px #ffec8b, 0 0 70px #ffec8b, 0 0 80px #ffec8b;
    } 
}

@keyframes swoopInBottom {
	0% {
		opacity: 0;
		transform: translateY(50px);
        bottom: -100px;
	}

	100% {
		opacity: 1;
		transform: translateY(0);
        bottom: 0px;
	}
}

@keyframes swoopInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
        right: 100px;
	}

	100% {
		opacity: 1;
		transform: translateX(0);
        right: 0px;
	}
}

@keyframes swoopInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
        left: -100px;
	}

	100% {
		opacity: 1;
		transform: translateX(0);
        left: 0px;
	}
}

@keyframes slowMove {
    0% {
        transform: scale(1) rotate(-1deg);
    }
    50% {
        transform: scale(1.02) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(1deg);
    }
}