/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-bg-default: #333;
    --color-fg-default: white;
    --color-fg-accent: #008f8f;

}

.main-header {
    color: var(--color-fg-default);
    min-height: 100vh;
    text-align: center;
    margin: auto;
    align-items: center;
}

.card {
    background-color: var(--color-fg-accent); 
    min-width: 400px;
    min-height: 150px;
    margin: 10px; 
    border-radius: 15px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

.card-text {
    background-color: transparent;
    color: var(--color-fg-default);
}

footer a {
    color: var(--color-fg-default); /* Set color to black */
    text-decoration: none;
    margin: 0 15px; /* Increase margin for better spacing */
    font-size: 50px; /* Increase font size for larger icons */
}

footer a:hover {
    color: var(--color-fg-accent); /* Change color on hover */
}

.nav-text {
    color: var(--color-fg-default);
}

.nav-text:hover {
    color: var(--color-fg-accent);
}

#typewriter-container {
    font-family: Consolas,monaco,monospace; 
}

#cursor {
    animation: blink 0.8s infinite;
    display: inline-block;
}
 
@keyframes blink {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}

#subtitle {
    font-size: larger;
    position: relative;
    animation: swoopIn 2s ease 4s 1 normal forwards;
    opacity: 0;
}

@keyframes swoopIn {
	0% {
		opacity: 0;
		transform: translateY(50px);
        bottom: -100px;
	}

	100% {
		opacity: 1;
		transform: translateY(0);
        bottom: 0px;
	}
}

#navbar {
    padding: 10px;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease; /* Fade-in transition */
    background-color: var(--color-bg-default);
}
.section-container {
    background-color: var(--color-bg-default);
    padding: 20px;
}

footer {
    background-color: #4c4c4c;
}